{% extends 'base/base.html' %}

<!-- Carga de archivos estaticos  -->
{% load static %}

<!-- Carga de titulo  -->
{% block title %}
Dashboard | Portafolio | CpCe
{% endblock title %}

<!-- Carga de contenido  -->
{% block content %}

{% include 'base/header.html' %}


<main class="bg-white flex items-center justify-center min-h-screen">
    <div class="container-fluid mx-auto p-1">
        <section class="flex flex-col justify-center gap-6">

           <form action="{% url 'iot_app:mqtt-dash' %}" method="post">
            {% csrf_token %}
            {{ form }}

            <button type="submit">Send</button>
           </form>
        </section>
    </div>
</main>




{% endblock content %}